$baseFontColor:#333333;

$headerBgColor:#FFFFFF;
$footerBgColor:#FFFFFF;
$footerInfoBgColor:#DDDDDD;
$contentBgColor:#FFFFFF;
$contentLeftBgColor:#FFFFFF;
$contentRightBgColor:#FFFFFF;
$bordorColor:#DDDDDD;


$boxBg:#FFFFFF;
$boxHeadStart:#FFFFFF;
$boxHeadEnd:#DDDDDD;
$boxContentBg:#DDDDDD;
$boxContentBorder:#AAAAAA;